*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    background-color: rgb(26, 31, 42);
}

.container{
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}

.header{
padding: 1em;
display: flex;
position: fixed;
width: 100%;
align-items: center;
justify-content: space-between;
background: linear-gradient(90deg, rgba(233,45,220,1) 8%, rgba(32,173,241,1) 63%, rgba(142,255,0,0.9921218487394958) 100%);
transition: 0.25s ease-in-out;  
flex-wrap: wrap;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center; 
}

.logo__image{
    width: 50px;    
    height: 50px;
    border-radius: 50px;
    transition: 0.20s ease-in-out;
    margin: 0.5em;
}

.logo__text{
    font-family: sans-serif;
    font-size: 2.5rem;
    margin: auto;
    text-transform: uppercase;
    color: #fff;
}

.form{
    display: flex;
    align-items: center;
    width: 400px;
    height: 70px;
    margin-right: 10px;
    position: relative;
    padding: 0.5em;
}

.form__input{
    outline: none;
    border: none;
    height: 50px;
    border-radius: 30px;
    width: 98%;
    font-size: 1.5em;
    padding-left: 0.5em;
    color: #9b9c9a;
}

.form__serachIcon{
    position: absolute;
    right: 40px; 
    cursor: pointer;
    color:#9b9c9a ;
}




@keyframes rotate {
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(360deg);
    }
  }


  .rotate{
    animation: rotate 1s linear infinite; 
  }

  .content_style{
    display: flex;
    flex-wrap: wrap;
    margin-top: 130px;
    gap: 15px;
  }

  .fade-out{
    opacity: 0;
    transition: 0s ease-in-out;
    position: absolute;
  }

.giphis{
    cursor: pointer;
    height: 300px;
    flex: 1;
}

  


